.git
.github
.next
node_modules
.env*
!.env.production.example
dev-*.log
npm-debug.log*
DEPLOY_CHINA.md
README.md
miniprogram/*
!miniprogram/config/
miniprogram/config/*
!miniprogram/config/education-bases.js
!miniprogram/config/education-locations.js
!miniprogram/config/education-guide-services.js
